In [2]:
#python list examples.

list_a= ['school','clinic',' church', 'cinema','stadium']
list_b= [2,4,6,8,10,12,14,16,18,20]
list_c= [0.25,80,'people']
print('list_a = ',list_a);print('list_b = ', list_b); print('list_c = ', list_c)

list_a =  ['school', 'clinic', ' church', 'cinema', 'stadium']
list_b =  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
list_c =  [0.25, 80, 'people']

In [3]:
#accessing values in a list.
print(list_a[3])   #this accesses the fourth value in the list
print(list_b[5])   #this accesses the sixth value in the list
print(list_c[0])   # this accesses the first value in the list
print(list_b[2:6])  #this accesses the third value to the sixth value in the list. 
                    #(note the 6th value is not the same as the 6th index)

cinema
12
0.25
[6, 8, 10, 12]

In [4]:
#changing elements in list.
list_a[1]= 'hospital'
print(list_a)
list_b[2:5]=[7,9,11]
print(list_b)

['school', 'hospital', ' church', 'cinema', 'stadium']
[2, 4, 7, 9, 11, 12, 14, 16, 18, 20]

In [5]:
#deleting elements in a list using the del statement.
del list_b[2:5]
list_b

[2, 4, 12, 14, 16, 18, 20]

In [6]:
#basic list operations.
# we look at 3 basic, +,* and in
list_1=list_a + list_b   # concatenating the elements in list_a and List_b, assigned to list_1
print(list_1)

list_2= list_c*4       #repitition of the elements in list_c 4 times, assigned to list_2
print(list_2)

'church' in list_a    #this produces a boolean value: true if the string 'church' is a member of the list_a, false if otherwise.

['school', 'hospital', ' church', 'cinema', 'stadium', 2, 4, 12, 14, 16, 18, 20]
[0.25, 80, 'people', 0.25, 80, 'people', 0.25, 80, 'people', 0.25, 80, 'people']

False

In [7]:
#list functions
print(len(list_b)) #this returns the number of elements in the list

print(max(list_a)) #this returns the highest or maximum value in the list

print(min(list_b)) #this retirns the lowerest or minimum value in the list

print(list(range(5))) # tthis converts any sequence into a list. hence the range of 5

7
stadium
2
[0, 1, 2, 3, 4]

In [8]:
#list methods
# List.append() method.
list_a.append('factory')
print(list_a)

['school', 'hospital', ' church', 'cinema', 'stadium', 'factory']

In [9]:
#list.count() method
list_2.count(0.25)

4

In [10]:
#list.sort() method
list_a.sort()
print(list_a)

[' church', 'cinema', 'factory', 'hospital', 'school', 'stadium']

In [11]:
#list.index()
countries=['Germany','Japan','Russia','Brazil','Congo', 'Italy', 'Ghana','Spain','Iran' ]
countries.index('Ghana')

6

In [12]:
#list.insert() method
countries.insert(7,'China')   #using the same countries list.
print(countries)

['Germany', 'Japan', 'Russia', 'Brazil', 'Congo', 'Italy', 'Ghana', 'China', 'Spain', 'Iran']

In [13]:
#list.pop() method
countries.pop()
print(countries)

countries.pop(4)
print(countries)

['Germany', 'Japan', 'Russia', 'Brazil', 'Congo', 'Italy', 'Ghana', 'China', 'Spain']
['Germany', 'Japan', 'Russia', 'Brazil', 'Italy', 'Ghana', 'China', 'Spain']

In [14]:
#list.remove() method
countries.remove('Ghana')
print(countries)

['Germany', 'Japan', 'Russia', 'Brazil', 'Italy', 'China', 'Spain']

In [15]:
#iteration
for x in countries:
    print(x)

Germany
Japan
Russia
Brazil
Italy
China
Spain